.login-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.login input {
  background: none;
  border: none;
  border-bottom: 1px solid seashell;
  outline: none;
  height: 30px;
  color: seashell;
  font-size: 18px;
  text-align: center;
}

.login input::placeholder {
  color: seashell;
}

.login input:focus::-webkit-input-placeholder {
  color: transparent;
}

.login-layer {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  color: seashell;
}
