@import "reset.css";
@import "login.css";

body {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 25px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: seashell;
}

.main-layer {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.content-head {
  display: inline-flex;
  /* width: 100%; */
  margin: 20px;
  margin-bottom: 10px;
}

.content-head #music {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.content-head #music #player {
  display: none;
}

.content-head #music img {
  filter: invert(97%) sepia(2%) saturate(1940%) hue-rotate(318deg)
    brightness(100%) contrast(103%);
  cursor: pointer;
}

.content-head #music span {
  flex-basis: 100%;
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
}

.content-head #weather {
  font-size: 15px;
  text-align: right;
}

.content-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.content-main #greeting {
  font-size: 30px;
  margin: 10px;
}

.content-main #clock {
  font-size: 35px;
  margin: 10px;
}

.content-main #todo-form input {
  background: none;
  border: none;
  border-bottom: 1px solid seashell;
  outline: none;
  height: 30px;
  color: seashell;
  font-size: 20px;
  text-align: center;
}

.content-main #todo-form input::placeholder {
  color: seashell;
  opacity: 0.8;
}

.content-main #todo-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

#quote {
  opacity: 0.5;
  transition: opacity 1s ease-in;
  font-style: italic;
  font-size: 15px;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#quote:hover {
  opacity: 1;
}

.hidden {
  display: none;
}
