/* @import "reset.css"; */
@import "login.css";

body {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: seashell;
}

.main-layer {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.content-head {
  display: inline-flex;
  margin: 20px;
  margin-bottom: 10px;
}

.content-head #music {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.content-head #music #player {
  display: none;
}

.content-head #music img {
  filter: invert(97%) sepia(2%) saturate(1940%) hue-rotate(318deg)
    brightness(100%) contrast(103%);
  cursor: pointer;
}

.content-head #music span {
  flex-basis: 100%;
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
}

.content-head #weather {
  font-size: 15px;
  text-align: right;
}

.content-main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /* align-items: center; */
  font-weight: bold;
  text-align: center;
  /* padding: 20px; */
}

.main-left {
  flex: 1;
}

.main-left #greeting {
  font-size: 30px;
  margin: 30px;
}

.main-left #clock {
  font-size: 40px;
  margin: 30px;
}

.main-left #todo-form input {
  background: none;
  border: none;
  border-bottom: 1px solid seashell;
  outline: none;
  height: 40px;
  color: seashell;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
}

.main-left #todo-form input::placeholder {
  color: seashell;
  opacity: 0.8;
}

.main-left #todo-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main-center {
  text-align: left;
  flex: 2;
  flex-direction: column;
}

.main-center #todo-list {
  width: 55%;
  height: 55%;
  overflow-y: scroll;
}

.main-center #todo-list::-webkit-scrollbar {
  display: none;
  width: none;
}

.main-center .todo-block {
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding: 20px;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-center img {
  filter: invert(21%) sepia(82%) saturate(7447%) hue-rotate(358deg)
    brightness(96%) contrast(115%);
  cursor: pointer;
}

.content-bottom {
  margin: 20px;
  margin-bottom: 10px;
}

.content-bottom #quote {
  opacity: 0.5;
  transition: opacity 1s ease-in;
  font-style: italic;
  font-size: 15px;
  text-align: right;
}

.content-bottom #quote:hover {
  opacity: 1;
}

.hidden {
  display: none;
}
