@import "login.css";

:root {
  --filter-seashell: invert(97%) sepia(2%) saturate(1940%) hue-rotate(318deg)
    brightness(100%) contrast(103%);
  --filter-red: invert(21%) sepia(82%) saturate(7447%) hue-rotate(358deg)
    brightness(96%) contrast(115%);
}

body {
  font-family: "Apple SD Gothic Neo", "Noto Sans KR" sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}
/* 
body::-webkit-scrollbar {
  display: none;
} */

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: seashell;
  animation: change 1s ease-in;
}

.main-layer {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.content-head {
  display: inline-flex;
  margin: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

.content-head #music {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.content-head #music #player {
  display: none;
}

.content-head #music img {
  filter: var(--filter-seashell);
  cursor: pointer;
  transition: all 0.5s linear;
}

.content-head #music img:hover {
  transform: scale(1.1);
}

.content-head #music span {
  flex-basis: 100%;
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
}

.content-head #weather {
  font-size: 15px;
  text-align: right;
}

.content-main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.main-left {
  flex: 1;
  font-weight: bold;
}

.main-left #greeting {
  font-size: 30px;
  margin: 30px;
}

.main-left #clock {
  font-size: 40px;
  margin: 30px;
}

.main-left #todo-form input {
  background: none;
  border: none;
  border-bottom: 1px solid seashell;
  outline: none;
  height: 40px;
  color: seashell;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
}

.main-left #todo-form input::placeholder {
  color: seashell;
  opacity: 0.8;
}

.main-left #todo-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main-center {
  text-align: left;
  flex: 2;
  flex-direction: column;
}

.main-center #todo-list {
  width: 55%;
  height: 55%;
  overflow-y: scroll;
}

.main-center #todo-list::-webkit-scrollbar {
  width: 6px;
}

.main-center #todo-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 245, 238, 0.2);
  border-radius: 10px;
}

.main-center #todo-list::-webkit-scrollbar-track {
  display: none;
}

.main-center .todo-block {
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding: 20px;
  border-radius: 13px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease-in-out;
}

.main-center .todo-block:hover {
  background-color: rgba(250, 250, 210, 0.8);
  color: black;
}

.main-center img {
  filter: var(--filter-red);
  cursor: pointer;
  transition: all 0.3s linear;
}

.main-center img:hover {
  transform: scale(1.3);
}

.main-rigth {
  text-align: right;
  padding-right: 20px;
}

.main-rigth img {
  filter: var(--filter-seashell);
  cursor: pointer;
  transition: all 0.5s linear;
}

.main-rigth img:hover {
  transform: scale(1.1);
}

.content-bottom {
  margin: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

.content-bottom #quote {
  opacity: 0.5;
  transition: opacity 1s ease-in;
  font-style: italic;
  font-size: 15px;
  text-align: right;
}

.content-bottom #quote:hover {
  opacity: 1;
}

.hidden {
  display: none;
}
